.app {
    display: flex;
    background-color: bisque;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sidebar {
    width: 350px;
    background-color: rgba(128, 128, 128, 0.63);
}